{% extends "base.html" %}

{% block content %}
<div id="edit">
<section class="section" v-if="preview">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-5">[[ title || 'Untitled' ]]</h1>
                <p class="text-muted display-6">[[ author || 'Unknown' ]] - [[ new Date().getMonth() ]]/[[ new Date().getDate() ]]/[[ new Date().getFullYear() ]]</p>
            </div>
            <div class="col-sm is-narrow">
                <button class="btn btn-secondary float-right" v-on:click="exitPreview">Exit Preview</button>
            </div>
        </div>
        <hr />
        <div class="content mt-2">
            [[ content ]]
        </div>
    </div>
</section>

<section class="section" v-else>
    <form method="POST">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="form-row align-items-center">
                    <div class="col-12">
                        <div class="input-group mb-12 mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-heading"></i></div>
                        </div>
                        <input class="form-control" type="text" placeholder="Title" name="title" v-model="title">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-12">
                        <div class="input-group mb-12 mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        <input class="form-control" type="text" placeholder="Author" name="author" v-model="author">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm is-narrow">
                <div class="float-right">
                    <button class="btn btn-primary">Publish</button>
                    <a class="btn btn-secondary" href="#" v-on:click="enterPreview">Preview</a>
                </div>
            </div>
        </div>
        <textarea class="form-control full-height mt-2" placeholder="e.g. Hello world" name="content" v-model="content" ></textarea>
    </div>
</form>
</section>
</div>

<script>
var app = new Vue({
  el: '#edit',
  data: {
    title: '{{ title }}',
    author: '{{ author }}',
    content: '{{ content }}',
    preview: false,
  },
  methods: {
    enterPreview: function () {
        this.preview = true;
    },
    exitPreview: function () {
        this.preview = false;
    }
  },
  delimiters: ['[[',']]']
});
</script>

{% endblock %}