{% extends "base.html" %}

{% block content %}
<section class="section" v-if="preview">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-5">{{ title }}</h1>
                <p class="text-muted display-6">{{ author }} - {{ date }} - {{ viewCount }} views</p>
            </div>
            <div class="col-sm is-narrow">
                <div class="float-right mb-2">
                    <a class="btn btn-secondary ml-2" href="/revisions/{{ id }}">Revisions</a>
                    <a class="btn btn-secondary ml-2" href="/edit/{{ id }}">Edit</a>
                </div>
                <a class="btn btn-primary float-right" href="/">New</a>
            </div>
        </div>
        <hr />
        <div class="content mt-2">
            {{ content }}
        </div>
    </div>
</section>

{% endblock %}